.hero_slider {
	position: relative;
	.swiper-slide {
		.slider_content {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			padding-left: 113px/1351px * 100%;
			background-size: cover;
			background-position: right center;
			background-repeat: no-repeat;
			height: vw(418px);
			* {
				will-change: transform;
			}
		}
	}
	h2 {
		font-weight: bold;
		font-size: fs(47px);
		line-height: 56px/47px * 1;
		letter-spacing: 0.546429px;
		margin-bottom: 19px/47px * 1em;
	}
	P {
		font-size: 13px;
		margin-bottom: 39px;
		letter-spacing: 0.742857px;
	}
	@include MQ(M) {
		.swiper-slide {
			.slider_content {
				height: vw(800px);
			}
		}
		h2 {
			font-size: 24px;
		}
		p {
			margin-bottom: 1em;
		}
	}
}

.all_catagory_slider {
	border-bottom: 1px solid #d8d8d8;
	.swiper-slide {
		width: 200px;
	}
	figure {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 50px 0;
	}
	h4 {
		font-weight: bold;
		font-size: 14px;
		line-height: 17px/17px * 1;
		text-align: center;
		letter-spacing: 0.4px;
		text-transform: uppercase;
		color: #898989;
		margin-top: 1em;
		white-space: nowrap;
		transition: color 0.3s ease;
	}
	img {
		width: 95px;
		transition: all 0.3s ease;
		backface-visibility: hidden;
	}
	a {
		display: block;
		@include hover {
			img {
				// filter: grayscale(0);
				opacity: 1;
				transform: scale(1.15);
			}
			h4 {
				color: $green;
			}
		}
	}
	@include hover {
		img {
			// filter: grayscale(1);
			opacity: 0.8;
		}
	}
}

.category_product_slider {
	flex-basis: 0;
	flex-grow: 1;
	flex-shrink: 1;
	padding-bottom: 40px;
	@include MQ(L) {
		width: 90%;
		margin: 0 auto;
		// padding: 0 30px 40px;
	}
}
